body {
	background-image: url("book3.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
}
h1{
	text-align: center;
	margin: auto;
	padding: 5px;
	font-size: 40px;
	color: green;
	text-decoration:underline;
	font-family:"georgia";
}
 a{
	font-size: 30px;
	margin-top: 10px;
	margin-bottom: 10px;
}

 a{
	text-decoration: none;
}

 a:visited{
	text-decoration: none;
}
 a:hover{
	text-decoration: underline;
	color: red;
}
