h1{
	text-align: center;
	margin: auto;
	padding: 5px;
	font-size: 40px;
	color: navy;
	text-decoration:underline;
	font-family:"georgia";
}
body {
	background-image: url("inter.jpg");
	background-repeat: no-repeat;
	background-size: 100%;}